<!DOCTYPE html>
<html lang="fr" class="bg-neutral-50">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}SAE 501 {% endblock %} - SAÉ 501</title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <!-- Import du favicon front -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" alt="logo">
 
    <link rel="stylesheet" href="/styles/front-end/vie.css">
    <link rel="stylesheet" href="styles/front-end/menu.css">
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    {% if NODE_ENV != "development" %}
        <link rel="stylesheet" href="/{{ manifest['style.css'].file }}" />
    {% endif %}

    {% block styles %}{% endblock %}
    {% block javascript %}{% endblock %}

    {% if NODE_ENV == "development" %}
        <script type="module" src="http://{{ HOST_IP }}:5173/@vite/client"></script>
        <script type="module" src="http://{{ HOST_IP }}:5173/src/scripts/main.frontend.js" defer></script>
    {% else %}
        <script type="module" src="/{{ manifest['src/scripts/main.frontend.js'].file }}" defer></script>
    {% endif %}
</head>
<body class="px-8">
    {% include "components/front-end/navigation.njk" %} 
        

    <main class="max-w-[1280px] mx-auto">
    {% block main %}{% endblock %}
    </main>

        <footer class="pied-de-page-principal conteneur-1280">
        <p>Certains textes sont issus de Wikipédia</p>
        <ul class="liste-liens">
        <li>
            <a aria-label="Ouverture dans un nouvel onglet" href="https://fr-fr.facebook.com/CYCergyParisUniversite/" title="Ouverture dans un nouvel onglet" target="_blank">Facebook</a>
        </li>
        <li>
            <a aria-label="Ouverture dans un nouvel onglet" href="https://twitter.com/universitecergy?lang=fr" title="Ouverture dans un nouvel onglet"  target="_blank">Twitter</a>
        </li>
        <li>
            <a aria-label="Ouverture dans un nouvel onglet" href="https://fr-fr.facebook.com/CYCergyParisUniversite/" title="Ouverture dans un nouvel onglet"  target="_blank">Université CY Paris Université</a>
        </li>
        <li aria-hidden="true">
            •
        </li>
        <li>
            <a href="#" class="remonter-lien">Remonter</a>
        </li>
        </ul>

        <p class="txt-credits">© 2021 - <span id="annee"></span> - BUT MMI - CY Paris Université - Site de Sarcelles</p>

        <center>
        <figure class="logo">
        <img src="/images/logo-cyu-couleur.svg" alt="image logo indisponible">
        </figure>
        </center>

        <script>
            document.getElementById("annee").innerHTML = new Date().getFullYear();
        </script>
        </footer>

</body>


</html>