{% extends "layouts/front-end/base.njk" %}
{% set bubble_color = "rose" %}

{% block main %}

<h1 class="text-5xl font-bold my-12 target:text-[#005A47] text-center" id="{{ list_anchors[1].hash }}">
    Auteur
</h1> 

<div class="flex justify-center items-center h-full">
    <!-- Bloc pour l'image -->
    <div class="w-1/2 p-4">
        <div class="rounded-lg p-8">
            <figure class=" from-right">
                <img class="image rounded-full " src="images/auteur.jpg" alt="Auteur" >
            </figure>
        </div>
    </div>

    <!-- Bloc pour la biographie -->
    <div class="w-1/2 p-4 bg-blue-800 text-white" style="border-radius: 4%;">
        <div class="rounded-lg p-8">
            <p class="text11">
                <strong>Biographie auteur</strong><br>
                Lorsque cette formation était proposée sous la forme d'un Diplôme Universitaire Technologique (DUT),
                elle se déroulait sur deux années (1 800 heures). En théorie, elle est accessible à tous les bacheliers,
                quelle que soit leur série. En moyenne, il y a de 30 à 35 heures de cours par semaine. Cette formation se divise en trois grands
                pôles, auxquels il faut ajouter le projet tutoré (300 heures) et les stages (420 heures).
            </p>
        </div>
    </div>
</div>

<div class="flex justify-center items-center h-full">
    <!-- Bloc pour l'image -->
    <div class="w-1/2 p-4">
    <div class="rounded-lg p-8">
       <div class="rounded-lg p-8 flex">
    <a href="#" class="border-r-2 pr-4 hover:scale-110 transition-transform"> <!-- Lien LinkedIn -->
        <div class="w-12 h-12 rounded-full bg-white flex items-center justify-center shadow">
            <i class="fab fa-linkedin text-xl"></i>
        </div>
    </a>
    <a href="#" class="border-r-2 pr-4 pl-4 hover:scale-110 transition-transform"> <!-- Lien Facebook -->
        <div class="w-12 h-12 rounded-full bg-white flex items-center justify-center shadow">
            <i class="fab fa-facebook-f text-xl"></i>
        </div>
    </a>
    <a href="#" class="pl-4 hover:scale-110 transition-transform"> <!-- Lien Twitter -->
        <div class="w-12 h-12 rounded-full bg-white flex items-center justify-center shadow">
            <i class="fab fa-twitter text-xl"></i>
        </div>
    </a>
</div>

    </div>
 </div>

    <!-- Bloc pour la biographie -->
    <div class="w-1/2 p-4 bg-white text-blue border border-blue-800 " style="border-radius: 4%;">
           <div class=" rounded-lg p-8 ">
            <p>Age: <strong><span class="text-blue-800">51 Ans</span></strong></p>
            <p>Adresse: <strong><span class="text-blue-800">Paris-France</span></strong></p>
            <p>Email: <strong><span class="text-blue-800">Antoin@contact.com</span></strong></p>
        </div>
    </div>
</div>

 <h1 class="text-3xl font-bold mt-12 target:text-[#005A47]" id="{{ list_anchors[2].hash }}">
        Autres articles 
    </h1>

    <ul class="snap-x md:px-0 pb-2 grid md:grid-cols-2 lg:grid-cols-3 gap-x-3 gap-y-7 my-9 grid-flow-col auto-cols-[92%] grid-cols-none md:grid-flow-row overflow-x-auto md:overflow-x-visible">
        {% for item in list_saes.data %}
            <li class="h-full snap-start px-1">
                <article class="shadow h-full">
                    <figure class="h-[325px]">
                        <img class="h-full w-full object-cover" src="{{ 'images/default-sae-image.png' if item.image|length == 0 else 'uploads/' ~ item.image }}" alt="">
                    </figure>
                    <section class="p-8 pb-10 sm:pb-14">
                        <p class="text-2xl font-bold pb-2">{{ item.title }}</p>
                        <p>{{ item.content }}</p>
                    </section>
                </article>
            </li>

            <li class="h-full snap-start px-1">
                <article class="shadow h-full">
                    <figure class="h-[325px]">
                        <img class="h-full w-full object-cover" src="{{ 'images/default-sae-image.png' if item.image|length == 0 else 'uploads/' ~ item.image }}" alt="">
                    </figure>
                    <section class="p-8 pb-10 sm:pb-14">
                        <p class="text-2xl font-bold pb-2">{{ item.title }}</p>
                        <p>{{ item.content }}</p>
                    </section>
                </article>
            </li>

            <li class="h-full snap-start px-1">
                <article class="shadow h-full">
                    <figure class="h-[325px]">
                        <img class="h-full w-full object-cover" src="{{ 'images/default-sae-image.png' if item.image|length == 0 else 'uploads/' ~ item.image }}" alt="">
                    </figure>
                    <section class="p-8 pb-10 sm:pb-14">
                        <p class="text-2xl font-bold pb-2">{{ item.title }}</p>
                        <p>{{ item.content }}</p>
                    </section>
                </article>
            </li>
        {% endfor %}
    </ul>

    







{% endblock %}








