{% set bubble_color = "rouge" %}

{% extends "layouts/front-end/base.njk" %}

{% block title %}Sur les médias{% endblock %}

{% block main %}
            <h1 class="titre-page">Les actualités et les évènements important du BUT et de l'IUT CY Paris Université dans les médias.</h1>

            {% for item in list_divers.data %}

            <ul class="liste-videos">
                <li class="video-conteneur">
                    <h2 class="titre">{{ item.title }}</h2>
                    <iframe class="video-yt" height="388" src="{{ item.yt_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
            </ul>
                {% else %}
                    <p>Pas de contenu pour le moment</p>
                {% endfor %}
        
{% endblock %}