{% set bubble_color = "rose" %}
{% extends "layouts/front-end/base.njk" %}
{% block title %} sur-les-medias
{% endblock %}

{% block main %}
    
{% include "components/front-end/hero.njk" %}
    <section class="flex flex-col items-center gap-8">
        
        <div class="w-full max-w-3xl">
            <h2 class="text-2xl font-bold mb-2">Les actualités et les évènements importants du BUT et de l'IUT CY dans les médias</h2>
          
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.</p>
        </div>


      
        <div class="w-full max-w-3xl grid grid-cols-2 gap-8">
            <!-- Première ligne de vidéos -->
            {% for item in list_divers.data %}
            <div class="flex flex-col items-center">
                <h3 class="text-l font-medium mb-2">{{ item.title }}</h3>
                
                <iframe width="360" height="215" src="{{ item.yt_link }}" ></iframe>
            </div>
            {% else %}
                    <p>Pas de contenu pour le moment</p>
                
{% endfor %}


            
            
        </div>
    </section>
{% endblock %}
